//main: style.less

@import "var.less";

.header {

    background-color: @silver;
    padding-bottom: 146px;

    &__topik{
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-top: 57px;

        margin-bottom: 129px;

        &_collapsed{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-row-gap: 40px;
    
            & .header__logo{
                justify-self: left;

            }
    
            & .header__burger{
                justify-self: right;
                grid-column-start: 2;
                grid-row-start: 1;
            }
    
            & .header__menu{
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 2;
                -ms-grid-column-span: 2;
            }
    
    
        }


        @media (max-width: 1200px){
            margin-bottom: 100px;
        }

        @media (max-width: 870px){
            margin-bottom: 60px;
        }

        @media (max-width: 600px){
            margin-bottom: 50px;
        }

        @media (max-width: 450px){
            margin-bottom: 40px;
        }
    }

    

    &__logo{
    font-family: 'Revalia';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    /* identical to box height */

    text-align: center;

    color: @accented;

    cursor: pointer;

    }

    &__content{
        display: flex;
        align-items: center;

        padding-left: 79px;

        @media (max-width: 1200px){
            padding-left: 0;
            flex-direction: column;
        }
    }
    &__image{
        max-width: 357px;
        max-height: 233px;

        @media (max-width: 500px){
            width: 80%;
        }
        
    }
    &__info{
        padding-left: 133px;

        @media (max-width: 1200px){

            padding: 0;
            padding-top: 30px;
            margin: 0 auto;
            text-align: center;
        }
    }
    &__title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;

    color: #000000;

    margin-bottom: 34px;

    @media (max-width: 500px){
        font-size: 2em;
        margin-bottom: 0px;
    }

    @media (max-width: 350px){
        font-size: 1.5em;
    }
    }
    &__text{
        text-align: left;
        margin-bottom: 52px;

        @media (max-width:1200px){
            text-align: center;
            margin-bottom: 35px;
        }
        @media (max-width: 500px){
            margin-bottom: 25px;
        }
    }
    &__button{
        
    }
}





